

.navigation li {
    float: left;
    
    
    

    
 }
 
 .navigation ul {
     list-style-type: none;
     font-size: 20px;
     background-color:	#808080;
     position: fixed;
     width: 100vw;
     padding: 0;
     margin: 0;
     z-index: 2;

    
 }
 
 .navigation li a{
     text-decoration: none;
     color: aliceblue;
     display: block;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
     
 }
 
 .navigation a:hover{
     background-color: #c0c0c0;
     padding-left: 3vw;
     padding-right: 3vw;
 }

 .navigationbar{
    display: flex;
    justify-content: space-around;
}

 
 body{
     margin: 0;
 }
 
 .introduction img{
     position: relative;
     
     top: 70px;
    
     
 }
 
 .introduction h1{
     font-size: 60px;
     text-align: center;
     
 }
 
 .introduction p{
     font-size: 28px;
     
     text-align:justify;
     border-style: ridge;
     
     padding: 60px 60px;
     
     border-width: 5px;
     background-color: #f8f8ff;
     
     
 }
 .ingredient{
    
     padding: 55px;
     
 }
 
 .ingredient legend{
     text-align: center;
     font-size: 60px;
     
     
 
 }
 
 .ingredient h3{
     letter-spacing: 4px;
     text-align: center;
     font-size: 25px;
     padding: 25px 35px;
       
 }
 
 .ingredient fieldset{
     background-color: #f8f8ff;
    
 }

 
 .bigger1{
     font-size: 40px;
 }
 
 .bigger2{
     font-size: 35px;
 }
 
 .procedure{
     
     text-align: center;
 }
 
 .procedure h2{
     font-size: 60px;
     padding-top: 35px;
     padding-bottom: 35px;
     background-color:#dcdcdc;
     margin-top: 80px;
 }
 
 .procedure h3{
     font-size: 45px;
     padding: 30px;
    
 }
 
 .procedure p{
     font-size: 30px;
     padding: 30px 50px;
     letter-spacing: 2px;
    
 }
 .video{
     text-align: center;
 }
 
 .video h3{
     font-size: 30px;
     padding-top: 60px;
     padding-bottom: 60px;
 }
 
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
   }
 
   .responsive {
     width: 100%;
     max-width:600px;
     height: 400px;
   }
 
   #aboutme{
       padding-top: 10px;
       text-align: center;
       background-color:#e6e6fa;
   }
   
   body{
       background-color:#f0f8ff;
       font-family: 'Times New Roman', Times, serif;
   }

   .nextpage{
       text-align: right;
   }

   @media only screen and (max-width: 1000px) {
    img{
        width: 80%;
        height: 80%;
        
    }
    .introduction img{
        width: 80%;
        height: 80%;
    }

} 
@media only screen and (max-width: 800px){
    iframe{
        width: 340px;
        height: 240px;
    }


.nextpage img{
    height: 80px;
    width: 120px;
}
.navigationbar{
    display: flex;
    align-items: column;
    
}
.navigation ul{
    position: static;
}
.introduction p, .procedure p{
    font-size: 20px;
}

.introduction h1, .procedure h2{
   font-size: 50px;
}

.bigger1{
    font-size: 30px;
}
.video h3{
    font-size: 20px;
}
.navigation li a{
    padding: auto;
}
.ingredient h3{
    font-size: 25px;
}
.ingredient legend{
    font-size: 40px;
}
}

  
  
